ul.nav_bar {
    margin-bottom: 25px;
}

div.goto-button {
    text-align: left;
}
a.goto-button {
    margin-top: 25px;
}

div.quick-info {
    width: auto;
    text-align: center;
}

p.quick-info {
    width: auto;
    padding: 5px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    border-color: rgb(0, 102, 165);
    border-style: solid;
    border-radius: 5px;
}
span.quick-info-strong {
    color: rgb(0, 102, 165);
    font-weight: 700;
    padding: 5px;
}