* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav_bar {
  float: left;
}

li.nav_bar a.nav_bar {
  display: block;
  padding: 14px 16px;
  background-color: #333;
  color: white;
}

a.nav_bar {
  text-decoration: none;
}

li.nav_bar a:hover.nav_bar {
  background-color: gray;
}
li.nav_bar a:active.nav_bar {
  color:black;
  background-color: rgb(101, 196, 255);
}

span.nav_bar {
  align-items: center;
}

a.goto-button {
  font-size: 20px;
  text-decoration: none;
  color:black;
  background-color: lightblue;
  border-radius: 5px;
  padding:10px;
}

a.goto-button:hover {
  background-color: lightskyblue;
}

a.goto-button:active {
  background-color: rgb(101, 196, 255);
}

div.goto-button {
  width:auto;
  text-align: center;
}
