* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(0, 102, 165);
}

ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 102, 165);
}

li.nav_bar {
  float: left;
}

li.nav_bar a.nav_bar {
  display: block;
  padding: 14px 16px;
  background-color: rgb(0, 102, 165);
  color: white;
}

a.nav_bar {
  font-size: 20px;
  text-decoration: none;
}

li.nav_bar a:hover.nav_bar {
  background-color: rgb(0, 140, 228);
}
li.nav_bar a:active.nav_bar {
  background-color: rgb(50, 176, 255);
}

span.nav_bar {
  align-items: center;
}

a.goto-button {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 102, 165);
  border-radius: 5px;
  padding:10px;
}

a.goto-button:hover {
  background-color:rgb(50, 176, 255) ;
}

a.goto-button:active {
  background-color: rgb(101, 196, 255);
}

div.goto-button {
  width:auto;
  text-align: center;
}
